#creator_page {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .author_name {
    margin-top: 40px;
  }

  .author_name,
  .followers {
    text-align: center;
  }

  #webtoons {
    overflow: hidden scroll;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

    margin: 10px 0;
    padding: 0 10px;
    margin-bottom: 5px;
  }

  #author_posts {
    display: flex;
    flex-direction: column;

    border-top: 1px solid #111;
    > h3 {
      display: flex;
      align-items: center;
      margin-top: 5px;
      margin-left: 15px;

      svg {
        margin-left: 5px;
      }
    }

    .post {
      margin: 5px;
      margin-left: 15px;
      border-bottom: 1px solid #222;

      .date {
        font-size: 0.9em;
        color: #ccc;
        margin-top: -2px;
      }

      .asset {
        display: flex;
        margin-bottom: 5px;

        img {
          object-fit: fill;
          width: 95vw;
        }
      }
    }
  }
}

.nav_back {
  svg {
    color: #fff;
  }
}
