:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #fff;
  background-color: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#alerts {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 100;
  margin-left: -8px;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

.btn {
  color: #fff;
  background-color: #000;
  border: 3px solid #fff;
  border-radius: 5px;
  padding: 5px;
  transition: all 1s;

  &.active {
    background-color: #111;
    border: 3px dashed #fff;
  }
}

a {
  color: #fff;
  text-decoration: none;
}

.loading_screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  svg {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  progress {
    transition: all 0.2s ease-in-out;
  }
  p {
    color: #ccc;
    font-size: 0.8em;
    font-weight: bold;
    font-style: italic;
  }
}
