.alert {
  width: fit-content;
  display: flex;
  justify-content: center;
  column-gap: 10px;
  border-radius: 10px;
  padding: 0 15px;
  min-width: 200px;

  p {
    font-size: large;
  }

  span {
    display: flex;
    align-items: center;

    svg {
      width: 20px;
      height: 20px;
    }
  }

  &.success {
    background-color: green;
  }
  &.info {
    background-color: blue;
  }
  &.warning {
    background-color: orange;
  }
  &.error {
    background-color: red;
  }
}
