#loading_screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  svg {
    margin-top: 10px;
    margin-bottom: 20px;
    animation: spin 1.5s ease infinite;
    width: 2.2em;
    height: 2.2em;
  }
  progress {
    transition: all 0.2s ease-in-out;
  }
  p {
    color: #ccc;
    font-size: 0.8em;
    font-weight: bold;
    font-style: italic;
  }
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
