#webtoon_page {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 100vh;

  > header {
    margin-top: 40px;
    background-color: #111;
    padding: 5px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    svg {
      width: 2em;
      height: 2em;
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    div {
      display: flex;
      column-gap: 5px;

      button {
        color: #fff;
        background-color: transparent;
        border: none;
      }
    }
  }

  #wt_info {
    flex: 1;
    display: flex;
    flex-direction: column;

    > .wt_thumb {
      align-self: center;
      margin-top: 5px;
      width: 80%;
      border-radius: 20px;
    }

    .grades {
      text-align: center;
      font-family: monospace;

      span:first-child {
        padding-right: 5px;
        border-right: 2px solid #fff;
        margin-right: 5px;
      }
    }

    > .title,
    .creators,
    .genres,
    .schedule {
      margin-left: 15px;
    }

    > .title {
      font-size: 2.1em;
      margin-top: 20px;
      font-weight: bold;
    }
    .creators {
      margin-bottom: 10px;
    }

    .summary {
      margin: 0 15px;
      text-align: justify;
    }

    .schedule {
      font-weight: bold;
    }

    .genres {
      display: flex;
      gap: 5px;
      margin-bottom: 20px;

      .genre {
        padding: 5px;
        background-color: #333;
        border-radius: 10px;
      }
    }

    #episodes {
      background-color: #111;

      > header {
        padding: 5px;
        padding-right: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        div {
          display: flex;
          column-gap: 5px;
          button {
            display: flex;
            align-items: center;

            color: #fff;
            background-color: transparent;
            border: none;

            svg {
              width: 1.25em;
              height: 1.25em;
              margin-right: 3px;
            }
          }
        }
      }

      .episode.active {
        background-color: #000;
        .ep_title {
          text-decoration: line-through;
        }
      }

      .episode {
        margin: 5px;
        display: flex;
        border-bottom: 1px solid #222;
        align-items: center;

        > img {
          width: 64px;
          height: 64px;
          object-fit: cover;
          border-radius: 5px;
        }

        > .ep2deletebtn {
          margin-right: 5px;
          width: 15px;
          height: 15px;
        }

        > .ep_info {
          flex: 1;
          margin-left: 10px;
          display: flex;
          flex-direction: column;
          justify-content: center;

          .ep_title {
            font-weight: 700;
          }
          .ep_date {
            color: #ccc;
          }
        }

        > .ep_likes {
          display: flex;
          column-gap: 5px;

          color: #ccc;
        }
      }
    }
  }
}
