@import "tailwindcss";
@plugin "daisyui" {
  themes: lemonade --default, coffee --prefersdark;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 100%; /* Makes 1rem = 16px by default */
  line-height: 1.5;
  -webkit-text-size-adjust: 100%; /* Prevent iOS font scaling */
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
